@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&family=Yatra+One&display=swap');

:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
    margin: 0 auto;
    padding: 0;

}

.yatra-one-regular {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.bodyContainer {
    height: 90vh;
    width: 100vw;
    background-color: var(--cor-4);
    display: flex;
    
 
}

.bodyContainer img {
    width: 250px;
    height: 250px;
  

}

.textBody{
    width: 33.3vw;

    background-image: "./src/assets/farmarcia-placa.png";
}

.spanCamisetas{
    font-weight: 600;
}

.bodyImage{
    width: 33.3vw;
}

.bodyImage img{
    width: 100%;
    height: 100%;
}

.textBody p {
    font-family: "Yatra One", system-ui;
    font-weight: 100;
    /* font-style: normal; */
    color: var(--cor-2);
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    font-size: 20px;
    z-index: 1;
    
}

.modalCamiseta{
    z-index: 10;
    position: fixed
}

.bodyImageRight{
    width: 33.3vw;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.bodyImageRightTop {
    width: 100%;
    height: 50%;
    background-color: purple;
}
.bodyImageRightTop img {
    width: 100%;
    height: 100%;
}
.bodyImageRightBottom {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: yellow;
}


.bodyImageRightBottomRight  img {
    width: 100%;
    height: 100%;
    
    /* border-radius: 20%; */

}
.bodyImageRightBottomLeft img {
    width: 100%;
    height: 100%;

    /* border-radius: 20%; */

}

